body{
    background-color: darkolivegreen;
}

.page{
    background-color: snow;
    border: 2px solid rgb(90,90,90);
    min-height: 95vh;
    margin: 2.5vh 2.5vw;
}

.header{
    background-image: url("header_background.PNG");
    border-bottom: 2px solid rgb(90,90,90);
    color: white;
    height: 10vh;
    line-height: 10vh;
    padding-left: 15px;
}

.body{
    text-align: center;
    min-height: 79vh;
    padding: 20vh 0;
}

#out{
    background-color: rgb(245, 245, 245);
    text-align: center;
    font-size: 11pt;
    word-spacing: 15px;
    max-width: 70vw;
    margin: 5vh auto 5vh auto; 
    padding: 50px;
}

.footer{
    background-color: rgb(240, 240, 240);
    border-top: 2px solid rgb(107, 106, 106);
    height: 5vh;
    line-height: 5vh;
    padding-left: 15px;
}

body, div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*animation*/
@keyframes fade{
    0% {opacity: 0.0;}
    9% {opacity: 0.80;}
    10% {opacity: 0.90;}
    11% {opacity: 1.0;}
    25% {opacity: 0.825;}
    50% {opacity: 0.85;}
    75% {opacity: 0.90;}
    100% {opacity: 1.0;}
}
